$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$body-bg: hsl(0, 0%, 93%);
$white: hsl(0, 0%, 100%);

@import "general";
@import "page";
@import "lightboxes";
@import "media";